code/**/.settings
code/**/target
.classpath
*.log
.vscode
builds
*.DS_Store
.sshtmp
builddir
Session.vim
*redis-di
*redis-di.tgz
*redisgears-jvm.tgz
*redisgears-python.tgz
*create_cluster.json
*join_cluster.json
*grafana.db
*about.index.html
*create_gears_db.json
*demo_postgresql.json
*grafana/tmp*
*grafana/plugins*
